<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_update_item_after">
        <observer name="cart_gift" instance="Training\S8v4\Observer\CartUpdate" />
    </event>

</config>